@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<!-- =========================================================================================================== -->
<!--
<form id='form_main'>

	<div id="tab_1" class="col s12 st_lks container_ft_1 height_-137px div_container" data-col="scroll_tab_1" data-col_2="div_width_-5px">

		<div class='col s12 sub_container'>
		
			<div class="col s12 m12 l6 xl6">
				<section>
					
					<div class="row" style='height: 47px;'>
						<div class="col s12" style='height: 20px;'>
							<div class='col_label_head'>Datos generales</div>
						</div>
						<div class='lks switch'>
							<label>
								<span>Estado</span>
								<input type='checkbox' class='show_cest' data-col='cest' data-hb_v='n' data-hb_n='s' data-hb_e='s' />
								<span class='lever'></span>
							</label>
						</div>
					</div>
					

					<div class="row">
						<div class="col s4">
							<div class='col_label'>Codigo</div>
							<input type="text" placeholder="" value="" class='lks' data-col='ccod_prs1' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
						</div>
						<div class="col s4">
							<div class='col_label'>Año</div>
							<input type="text" placeholder="" value="" class='lks' data-col='ccod_prs2' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
						</div>
						<div class="col s4">
							<div class='col_label'>Ciclo</div>
							<input type="text" placeholder="" value="" class='lks' data-col='ccod_prs3' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
						</div>
					</div>					
					
					<div class="row">
						<div class="col s12">
							<div class='col_label' data-col_dsc='cdsc_prs'>Descripción</div>
							<input type="text" placeholder="" value="" class='lks' data-col='cdsc_prs' data-hb_v="n" data-hb_n="n" data-hb_e="n" />
						</div>
					</div>
					
					
					<div class="row">
						<div class="col s4">
							<div class='col_label'>Fecha Inicio</div>
							<input type="text" autocomplete="off" placeholder="" value="" class='lks' data-col='dfch_emi' data-dsc='Fecha de Emisión' data-hb_v="n" data-hb_n="s" data-hb_e="n" required />
						</div>
						<div class="col s4">
							<div class='col_label'>Fecha Fin</div>
							<input type="text" autocomplete="off" placeholder="" value="" class='lks' data-col='dfch_venc' data-dsc='Fecha de Vencimiento' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
							
						</div>
					</div>
					
					
					
					<div class='display_none'>
					
					<div class="row">
						<div class="c_col col s12">
							<div class="col s12">
								<div class='col_label' data-col_dsc='opfa'>Clasificación</div>
							</div>
							<div class="col s2 hide_for_600px">
								<input type="text" placeholder="" value="" class='lks' data-col='ccod_prs_csf' data-hb_v="n" data-hb_n="n" data-hb_e="n" />
							</div>
							<div class="col s12 m10 l10 xl10">
								<select class="select2 s2" data-col='prs_csf' data-allow-clear='false' data-hb_v="n" data-hb_n="s" data-hb_e="s" data-i_ccod required></select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="c_col col s12">
							<div class="col s12">
								<div class='col_label' data-col_dsc='prs_tip'>Tipo de Persona</div>
							</div>
							<div class="col s2 hide_for_600px">
								<input type="text" placeholder="" value="" class='lks' data-col='ccod_prs_tip' data-hb_v="n" data-hb_n="n" data-hb_e="n" />
							</div>
							<div class="col s12 m10 l10 xl10">
								<select class="select2 s2" data-col='prs_tip' data-allow-clear='false' data-hb_v="n" data-hb_n="s" data-hb_e="s" data-i_ccod required></select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s4">
							<div class='col_label' data-col_dsc='ccod_prs'>Código</div>
							<input type="text" placeholder="" value="" class='lks' data-col='ccod_prs' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
						</div>
					</div>

					<div class="row prs_tip_j">
						<div class="col s12">
							<div class='col_label' data-col_dsc='cnom_comercial'>Nombre Comercial</div>
							<input type="text" placeholder="" value="" class='lks' data-col='cnom_comercial' data-hb_v="n" data-hb_n="s" data-hb_e="s" />
						</div>
					</div>
					
					</div>
					
				</section>
				<div class='display_none'>
				<section class='prs_tip_f'>
					<div class="row">
						<div class="col s12">
							<div class='col_label_head'>Persona natural</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<div class='col_label' data-col_dsc='cape_pat'>Apellido Paterno</div>
							<input type="text" class='lks ft_upper' autocomplete="off" placeholder="" value="" data-col='cape_pat' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
						</div>
						<div class="col s6">
							<div class='col_label' data-col_dsc='cape_mat'>Apellido Materno</div>
							<input type="text" class='lks ft_upper' autocomplete="off" placeholder="" value="" data-col='cape_mat' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<div class='col_label' data-col_dsc='cnom'>Nombre(s)</div>
							<input type="text" class='lks ft_title' autocomplete="off" placeholder="" value="" data-col='cnom' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
						</div>
						<div class="col s6">
							<div class='col_label' data-col_dsc='cape_cas'>Apellido Casada</div>
							<input type="text" class='lks ft_upper' autocomplete="off" placeholder="" value="" data-col='cape_cas' data-hb_v="n" data-hb_n="s" data-hb_e="s" />
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<div class='col_label' data-col_dsc='tsx'>Sexo</div>
							<select class='select2 s2' data-col='tsx' data-allow-clear='true' data-hb_v='n' data-hb_n='s' data-hb_e='s'></select>
						</div>
						<div class="col s6">
							<div class='col_label' data-col_dsc='dfch_nac'>Fecha Nacimiento</div>
							<input type='text' autocomplete="off" placeholder='' value='' class='lks' data-col='dfch_nac' data-hb_v='n' data-hb_n='s' data-hb_e='s' />
						</div>
					</div>
				</section>
				</div>
				
			</div>

		</div>
		
	
	</div>

</form>
-->


<div id="mdl_form" class="modal modal-fixed-footer_ft_1 width_55 height_55" data-button_close='out'>
    <header class="modal_header">
        <div class="modal_header_inner">
            <h3 class='m-all-0'>Año Académico</h3>
        </div>
    </header>

	<form id="form_main" class="height_-69px" onsubmit='return false;'>
		<div class='modal-content st_lks height_-50px'>
		
				<div class="col s12 sub_container full_height">
				
					<div class="col s12 full_height">
					

						<!-- <div class="modal-sub-content p-right-15 div_width_15px" data-col="scroll_div_mdl_grid_it_1" data-col_2="div_width_10px"> -->
						
						<div class="modal-sub-content height_-14px" data-col="scroll_div_mdl_grid_it_1" data-col_2="div_width_10px" style='margin-top: 0px !important;'>
						
							<section>
								
								<div class="row" style='height: 47px;'>
									<div class="col s12" style='height: 20px;'>
										<div class='col_label_head'>Datos generales</div>
									</div>
									<div class='lks switch'>
										<label>
											<span>Estado</span>
											<input type='checkbox' class='show_cest' data-col='cest' data-hb_v='n' data-hb_n='s' data-hb_e='s' />
											<span class='lever'></span>
										</label>
									</div>
								</div>

								<div class="row">
									<div class="col s4">
										<div class='col_label' data-col_dsc='ccod_aac'>Codigo</div>
										<input type="text" placeholder="" value="" class='lks' data-col='ccod_aac' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
									</div>
									<div class="col s4">
										<div class='col_label'>Año</div>
										<input type="text" placeholder="" value="" class='lks' data-col='naac' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
									</div>
									<div class="col s4">
										<div class='col_label'>Ciclo</div>
										<input type="text" placeholder="" value="" class='lks' data-col='naac_cl' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
									</div>
								</div>					
								
								<div class="row">
									<div class="col s12">
										<div class='col_label' data-col_dsc='cdsc_aac'>Descripción</div>
										<input type="text" placeholder="" value="" class='lks' data-col='cdsc_aac' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
									</div>
								</div>
								
								<div class="row">
									<div class="col s4">
										<div class='col_label'>Fecha Inicio</div>
										<input type="text" autocomplete="off" placeholder="" value="" class='lks' data-col='dfini' data-dsc='Fecha de Inicio' data-hb_v="n" data-hb_n="s" data-hb_e="s" />
									</div>
									<div class="col s4">
										<div class='col_label'>Fecha Fin</div>
										<input type="text" autocomplete="off" placeholder="" value="" class='lks' data-col='dffin' data-dsc='Fecha de Finalizacion' data-hb_v="n" data-hb_n="s" data-hb_e="s" />
									</div>
								</div>

							</section>

						</div>
					
					</div>
				
				</div>

			<!-- </form> -->
		</div>

		<div class="modal-footer">
			<button class='button-1 waves-effect' data-lnk='_lnk_mdl_dir_aceptar' data-vs_v='n' data-vs_n='s' data-vs_e='s'>Aceptar</button>
			<button class="button-1 waves-effect modal-close">Cancelar</button>
		</div>
	</form>
</div>


@section scripts
{
<!-- <script type="text/javascript" src="../../scripts/lks/frm_em_prs.js"></script> -->
<script type="text/javascript" src="../../scripts/lks/frm_ga_aac_ct.js"></script>
<!-- <script type="text/javascript" src="../../scripts/lks/frm_em_prs_foraneo.js"></script> -->

<!-- <script type="text/javascript" src="../../scripts/lks/frm_em_dir_html.js"></script> -->
<!-- <script type="text/javascript" src="../../scripts/lks/frm_em_dir.js"></script> -->
}