
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOtherPages.cshtml";
}

    <h1 class="error-number">Error</h1>
    <h2 class="error-number">@ViewBag.TitleError</h2>
    <p class="error-number">
        @ViewBag.DescriptionError <a href="@Url.Action("Login", "Authentication")" style="text-decoration:underline;">Haga click aqui para volver a iniciar sesion</a>
    </p>
