
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOtherPages.cshtml";
}

<h1 class="error-number">Http</h1>
<h2 class="error-number">Pagina en mantenimiento</h2>
<p class="error-number">
    La pagina solicitada no esta disponible. Vuelva a intentar en unos minutos, haciendo click <a href="@Url.Action("Login", "Authentication")" style="text-decoration:underline;">aqui</a>
</p>

