@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMainModulo.cshtml";
}
<!--
<div class="row">
	<form id="form_main">
		
		<div id="tab_1" class="col s12 st_lks container_ft_1 height_-83px div_container" data-col="scroll_tab_1" data-col_2="div_width_-5px">

			<div class='col s12 sub_container'>
			
				<div class="col s12 m12 l6 xl6">

					<div class='fixed_ft_1' style='position: initial !important;'>
						
						<section class='ft_top_vw'>
							
							<div class="row m-p-all-0">
							
								<div class="" style="width: 100px; float: left; text-align: center;">
									<div class="nav-mosaico" style="">
										<div class="nav-mosaico-content-item-image img_alm_2" style="margin-top: 4px;"></div>
									</div>
								</div>
								
								<div class="" style="width: calc(100% - 100px) !important; float: left; padding-left: 5px; padding-right: 0px; padding-top: 9px; padding-bottom: 0px;">
									<div class='row' style="padding-bottom: 3px;">

										<div class="col s12" style="margin-bottom: 2px;">
											<div style="font-size: 20px; font-weight: bold; width: 100%;" class="my_elipsis">Modulo de Almacen</div>
										</div>
										
										<div class="col s12" style="margin-bottom: 4px;">
											<div>Unidad</div>
										</div>
										
										<div class="col s12">
											<div>Saldo: <span style="font-weight: bold;">120 Unidades</span> </div>
										</div>

									</div>
								</div>
								
							</div>
						
						</section>
						
					</div>

					
				</div>

				<div class="col s12 m12 l6 xl6">
				

				</div>

			</div>
		
		</div>

	</form>

</div>
-->
@section scripts
{
<script type="text/javascript" src="../../scripts/lks/frm_main_modulo.js"></script>
}