@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<!--
<form id="form_main" onsubmit='return false;'>

	<div id="tab_1" class="col s12 st_lks container_ft_1 height_-137px div_container" data-col="scroll_tab_1" data-col_2="div_width_-5px">

		<div class='col s12 sub_container'>
		
			<div class="col s12 m12 l6 xl6">
				<section>
					<div class="row">
						<div class="col s12">
							<div class='col_label_head'>Bienvenido</div>
							<button class='button-1 waves-effect' data-lnk='_lnk_add_' onclick='fnc_abrir_app_login();'>INGRESAR</button>
						</div>
					</div>
				</section>
			</div>
		</div>
	
	</div>

</form>
-->




<div class="container">

	<div class="row">
		<!-- ACA VA EL RENDERBODY -->
		
		<!-- ======================================================================================================= -->
		<!-- ======================================================================================================= -->
		
		<!--
		<div class="col s12 m12 l6 xl6 fh img-holder hide_for_992px">
			<div class="info-holder">
				<img src='../../../images/fondos/login_1.svg' />
			</div>
		</div>	
		-->
	
		
		<form id="form_main">
	
			<div id="tab_1" class="col s12 st-4 container_ft_1 height_-32px div_container" data-col="scroll_tab_1" data-col_2="div_width_-5px">
			
				<div class='col s12 sub_container full_height'>
				
					<!-- <div class="col s12 m12 l6 xl6 fh img-holder"> -->
					<div class="col s12 m12 l6 xl6 img-holder full_height hide_for_992px">

						<div class="info-holder">
							<img src='../../../images/fondos/login_1.svg' />
						</div>

					</div>

					<!-- <div class="col s12 m12 l6 xl6"> -->
					<div id="tab_2" class="col s12 m12 l6 xl6 full_height contenedor_items_center" data-col="scroll_tab_2" data-col_2="div_width_-5px" style='background-color: #fff;'>
					<!-- <div id="tab_1" class="col s6 container_table footer_fixed" style='height: 381px !important;'> -->


						<!-- <div class="col s12"> -->
						
							<section style='width: 60%;'>

								<div class="row">
									<div class="col s12">
										<div class='col_label_head'>Inicia sesión</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col s12">
										<div class='col_label'>Correo electrónico</div>
										<input type="text" class='lks' autocomplete="off" placeholder="micorreo@dominio.com" value="" data-col='ccod_sunat' data-hb_v="n" data-hb_n="s" data-hb_e="s" />
									</div>
								</div>
								
								<div class="row">
									<div class="col s12">
										<div class='col_label' data-col_dsc='cdsc_it'>Contraseña</div>
										<input type="text" class='lks' autocomplete="off" placeholder="Ingresa tu contraseña" value="" data-col='cdsc_it' data-hb_v="n" data-hb_n="s" data-hb_e="s" required />
									</div>
									
									<div class="col s12 text_align_right">
										<div class='col_label min_1'>¿Olvidaste tu contraseña?</div>
									</div>
									
								</div>
								
								
								
								<div class="row">
									<div class="col s12">
										<div class='col_label'>
											<label>
												<input type='checkbox' class='filled-in checkbox-left' data-col='bisc' data-hb_v='n' data-hb_n='s' data-hb_e='s' />
												<span>Recuérdame</span>
											</label>
										</div>
									</div>
								</div>

								
								<div class="row">
									<div class="col s12">
										<button class='button-1 waves-effect' data-lnk='_lnk_add_' style='width: 100%;' onclick='fnc_login_aceptar()'>Iniciar sesión</button>
									</div>
								</div>
								
								
							</section>

							<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
							
						
						<!-- </div> -->
						

					</div>

				</div>
			
			</div>

			
		</form>

		
		<!-- ======================================================================================================= -->
		<!-- ======================================================================================================= -->
		
		
	</div>
</div>






<!--
<div class="row fh">

	<div class="col s12 m12 l6 xl6 fh img-holder hide_for_992px">
		<div class="info-holder">
			<img src='../../../images/fondos/login_1.svg' />
		</div>
	</div>		
	
	<div class="col s12 m12 l6 xl6 form-login lks_border">
	
		<div class="col s12 website-logo">
			<img src='../../../images/logos/logo_1.png' />
		</div>
					
		<form style="font-family: 'Lato';" onsubmit='return false;'>
			<div class="col s12 form-login-content">

				<div class="form-items">
				
					<h3>Inicia sesión</h3>
					-- <h3>Bienvenido</h3>
					-- <p>Inicia sesión</p>
										
					<div class="row ft st-2">
						<div class="col s12" style="padding: 0;">
							<div class="col s12">
								<div class='col_label' data-col_dsc='opve'>Correo electrónico</div>
							</div>
							<div class="col s12">
								<input type="text" id="i_user" placeholder="micorreo@dominio.com" value="" />
								<span id="i_user_span" class="span_error"></span>
							</div>							
						</div>
					</div>
					
					<div class="row ft st-2">
						<div class="col s12" style="padding: 0;">
							<div class="col s12">
								<div class='col_label' data-col_dsc='opve'>Contraseña</div>
							</div>
							<div class="col s12">
								<input type="password" id="i_user_pw" placeholder="Ingresa tu contraseña" value="" />
								<span id="i_user_pw_span" class="span_error"></span>
							</div>
						</div>
					</div>					
						
					<div class="col s12" style="padding: 0; margin: 10px 0; text-align: right;">
						<button class="btn waves-effect waves-light" style="background-color: #42a5f5; font-size: 12px;" role="button" onclick="fnc_login_aceptar()">Ingresar</button>
					</div>
					
				</div>
			
			</div>
		</form>
		
	</div>
	
</div>
-->
@section scripts
{
<script type="text/javascript" src="../../scripts/lks/frm_login.js"></script>
}