@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- <div class="container"> -->
	<!-- <div class="row"> -->
		<!-- ACA VA EL RENDERBODY -->
		
		<!-- ======================================================================================================= -->
		<!-- ======================================================================================================= -->
		
		<form id='form_main' onsubmit='return false'>
	
			<div id="tab_1" class="col s12 st-4 container_ft_1 height_-32px div_container overflow-y_hidden" data-col="scroll_tab_1" data-col_2="div_width_-5px">

				<div class='col s12 sub_container full_height'>
				
					<div class="col s12 m12 l6 xl6 img-holder full_height hide_for_992px">
						<div class="info-holder">
							<img src='../../../images/fondos/login_1.svg' />
						</div>
					</div>

					<div id="tab_2" class="col s12 m12 l6 xl6 full_height contenedor_items_center" data-col="scroll_tab_2" data-col_2="div_width_-5px" style='background-color: #fff;'>

						<section style='width: 60%;'>

							<div class="row m-bottom-60">
								<div class="col s12">
									<div class='col_label text_align_right' data-lnk='_lnk_cancelar_cambiar_password' data-hb_n="s">Cancelar</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col s12">
									<div class='col_label_head'>Cambiar contraseña</div>
								</div>
							</div>

							<div class="row">
								<div class="col s12">
									<div class='col_label' data-col_dsc='cpassword'>Contraseña actual</div>
									<input type="text" class='lks' placeholder="Contraseña actual" value="" data-col='cpassword' data-hb_n="s" required />
								</div>
							</div>
							
							<div class="row">
								<div class="col s12">
									<div class='col_label' data-col_dsc='cpassword_new'>Nueva contraseña</div>
									<input type="text" class='lks' placeholder="Nueva contraseña" value="" data-col='cpassword_new' data-hb_n="s" required />
								</div>
							</div>
							
							<div class="row m-bottom-40">
								<div class="col s12">
									<div class='col_label' data-col_dsc='cpassword_new_confirm'>Repetir nueva contraseña</div>
									<input type="text" class='lks' placeholder="Repetir nueva contraseña" value="" data-col='cpassword_new_confirm' data-hb_n="s" required />
								</div>
							</div>

							<div class="row">
								<div class="col s12">
									<button class='button-1 waves-effect' data-lnk='_lnk_cambiar_password' style='width: 100%;'>Cambiar contraseña</button>
								</div>
							</div>

						</section>

						<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->

					</div>

				</div>
			
			</div>

			
		</form>

		
		<!-- ======================================================================================================= -->
		<!-- ======================================================================================================= -->
		
	<!-- </div> -->
<!-- </div> -->


@section scripts
{
<script type="text/javascript" src="../../scripts/lks/frm_change_password.js"></script>
}